@media screen and (max-width: 1920px) {
  .content {
    display: flex;
    width: 850px;
    justify-content: center;
  }
  .portada {
    width: 150%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 1450px) {
  .portada {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 1260px) {
  .portada {
    width: 110%;
  }
}

@media screen and (max-width: 1160px) {
  .portada {
    width: 100%;
  }
}
@media screen and (max-width: 930px) {
  .portada {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 860px) {
  .portada {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .content {
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .portada {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .content {
    width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .content {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    width: 400px;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 432px) {
  .portada {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .content {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .portada {
    width: 70%;
  }
}
@media screen and (max-width: 250px) {
  .portada {
    width: 80%;
    margin-top: 20%;
    margin-bottom: 10%;
  }
  .content {
    width: 200px;
  }
}
