@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
:root {
  --3jr-color-background: #4d3e93;
  --3jr-primary: #ffffff;
  --3jr-secondary: #73e4e4f1;
  --3jr-terciary: rgb(255, 147, 5);
  --3jr-botton: #aae815;
  --3jr-logo: #1560e8;
  --3jr-letterbotton: #3a15e8;

  /*BORDER RADIUS*/
  --3jr-border-radius: 10px;

  /* FONTSIZE */
  --3jr-fontsize-xs: 15px;
  --3jr-fontsize-s: 25px;
  --3jr-fontsize-m: 30px;
  --3jr-fontsize-l: 40px;
  --3jr-fontsize-xl: 50px;
  --3jr-fontsize-xxl: 60px;
  --3jr-fontsize-xxxl: 70px;

  /*SPACINGS*/
  --3jr-margin-sx: 7px;
  --3jr-margin-s: 10px;
  --3jr-margin-m: 20px;
  --3jr-margin-l: 30px;
  --3jr-margin-xl: 40px;

  --3jr-padding-xs: 4px;
  --3jr-padding-s: 6px;
  --3jr-padding-m: 20px;
  --3jr-padding-l: 30px;
  --3jr-padding-xl: 40px;

  --3jr-gap-xs: 1px;
  --3jr-gap-s: 2px;
  --3jr-gap-m: 3px;
  --3jr-gap-l: 4px;
  --3jr-gap-xl: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Jersey 15', sans-serif;
}
.content {
  display: flex;
  width: 800px;
  margin: auto;
  margin-top: -2%;
  margin-bottom: -2%;
  background-size: cover;
  justify-content: center;
}

.portada {
  width: 100%;
}

body {
  background-color: var(--3jr-color-background);
  min-height: 100svh;
}
