@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
:root {
  --3jr-color-background: #4d3e93;
  --3jr-primary: #ffffff;
  --3jr-secondary: #73e4e4f1;
  --3jr-terciary: rgb(255, 147, 5);
  --3jr-botton: #aae815;
  --3jr-logo: #1560e8;
  --3jr-letterbotton: #3a15e8;

  /*BORDER RADIUS*/
  --3jr-border-radius: 10px;

  /* FONTSIZE */
  --3jr-fontsize-xs: 10px;
  --3jr-fontsize-s: 20px;
  --3jr-fontsize-m: 30px;
  --3jr-fontsize-l: 70px;
  --3jr-fontsize-xl: 90px;

  /*SPACINGS*/
  --3jr-margin-sx: 5px;
  --3jr-margin-s: 10px;
  --3jr-margin-m: 20px;
  --3jr-margin-l: 30px;
  --3jr-margin-xl: 40px;

  --3jr-padding-xs: 5px;
  --3jr-padding-s: 10px;
  --3jr-padding-m: 20px;
  --3jr-padding-l: 30px;
  --3jr-padding-xl: 40px;

  --3jr-gap-xs: 5px;
  --3jr-gap-s: 10px;
  --3jr-gap-m: 20px;
  --3jr-gap-l: 30px;
  --3jr-gap-xl: 40px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Jersey 15', sans-serif;
}
.content {
  display: block;
  width: 900px;
  margin: auto;
  margin-top: var(--3jr-margin-xl);
}

.portada {
  width: 100%;
}

body {
  background-color: var(--3jr-color-background);
  min-height: 100svh;
}
