.tableroMMR {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 600px;
  width: 600px;
  border-radius: 10px;
  border-color: var(--3jr-letterbotton);
  margin: auto;
  margin-top: 150px;
  justify-content: center;
}

.tarjetas {
  display: flex;
  width: 106px;
  height: 90px;
  background-color: var(--3jr-terciary);
  border-radius: var(--3jr-border-radius);
  margin: 7px;
  box-shadow: 2px 2px 15px black;
  transition: 0.5s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front-face,
.back-face {
  display: flex;
  position: absolute;
  width: 106px;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  backface-visibility: hidden;
  border-radius: var(--3jr-border-radius);
  box-shadow: 2px 2px 15px black;
  transform: rotateY(-180deg);
}

.back-face {
  transform: rotateY(180deg);
  background-color: var(--3jr-secondary);
}

.tarjetasgiradas::selection {
  background: transparent;
}

.descubierta {
  transform: rotateY(-180deg);
}

@keyframes error {
  0% {
    transform: rotateY(-180deg) translateX(0);
  }
  10% {
    transform: rotateY(-180deg) translateX(-2px);
  }
  20% {
    transform: rotateY(-180deg) translateX(2px);
  }
  30% {
    transform: rotateY(-180deg) translateX(-2px);
  }
  40% {
    transform: rotateY(-180deg) translateX(2px);
  }
  50% {
    transform: rotateY(-180deg) translateX(-2px);
  }
  60% {
    transform: rotateY(-180deg) translateX(2px);
  }
  70% {
    transform: rotateY(-180deg) translateX(-2px);
  }
  80% {
    transform: rotateY(-180deg) translateX(2px);
  }
  100% {
    transform: rotateY(-180deg) translateX(0);
  }
}
@keyframes acertada {
  from {
    transform: scale(1) rotate(-180deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.2) rotate(180deg);
    opacity: 1;
  }
  to {
    transform: scale(1) rotate(180deg);
    opacity: 0;
  }
}

.acertada {
  pointer-events: none;
  animation: acertada 1.5s ease-in-out forwards;
}

.error {
  animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@media screen and (max-width: 900px) {
  .tableroMMR {
    height: 550px;
    width: 600px;
    margin-top: 130px;
  }
  .tarjetas,
  .front-face,
  .back-face {
    width: 100px;
  }
}
@media screen and (max-width: 700px) {
  .tarjetas,
  .front-face,
  .back-face {
    width: 70px;
    height: 60px;
  }
  .tableroMMR {
    width: 500px;
    margin-top: 70px;
  }
  .grid h1 {
    width: 700px;
  }
}

@media screen and (max-width: 568px) {
  .tableroMMR {
    height: 400px;
    width: 400px;
  }
  .tarjetas,
  .front-face,
  .back-face {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  .tableroMMR {
    /* height: 450px;
    /* width: 350px; */
    margin-top: 50px;
    margin-left: 3%;
  }
  .tarjetas,
  .front-face,
  .back-face {
    width: 45px;
    height: 50px;
  }

  .grid h1 {
    width: 450px;
  }
}
@media screen and (max-width: 400px) {
  .tableroMMR {
    height: 450px;
    width: 300px;
    margin-top: 2px;
    margin-left: 7%;
  }
  .tarjetas,
  .front-face,
  .back-face {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
  .inicio {
    margin-left: 35px;
  }

  .grid h1 {
    width: 380px;
  }
}

@media screen and (max-width: 300px) {
  .tableroMMR {
    height: 350px;
    width: 250px;
  }
  .tarjetas,
  .front-face,
  .back-face {
    width: 35px;
    height: 35px;
    margin: 3px;
  }
  .grid h1 {
    width: 320px;
  }
}

@media screen and (max-width: 300px) {
  .tableroMMR {
    height: 300px;
    width: 200px;
    margin-top: 50px;
  }
  .tarjetas,
  .front-face,
  .back-face {
    width: 30px;
    height: 35px;
    margin: 2px;
  }
  .grid h1 {
    width: 250px;
  }
  .grid button {
    width: 80px;
    height: 30px;
  }
  .salir {
    margin-left: 125px;
  }
}
