.tableroTER {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 600px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  margin-top: 200px;
  border-width: 1px;
  border: solid;
  background-color: var(--3jr-secondary);
}

.celda {
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--3jr-fontsize-xl);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .tableroTER {
    height: 500px;
    width: 500px;
    margin-top: 120px;
  }
}
@media screen and (max-width: 700px) {
  .tableroTER {
    height: 400px;
    width: 410px;
  }
}

@media screen and (max-width: 500px) {
  .tableroTER {
    height: 300px;
    width: 320px;
    margin-top: 110px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 400px) {
  .tableroTER {
    height: 250px;
    width: 260px;
    margin-top: 100px;
  }
}
