.tablero {
  height: 700px;
  width: 700px;
  border-color: var(--3jr-letterbotton);
  /* margin-top: 1%; */
}

.grid {
  margin: auto;
  display: grid;
  height: 670px;
  width: 700px;
  align-content: space-evenly;
  justify-items: stretch;
  justify-content: center;
  margin-top: -5px;
}

.grid h1 {
  font-size: var(--3jr-fontsize-l);
  display: flex;
  position: relative;
  justify-content: center;
  color: var(--3jr-primary);
  width: 100%;
  margin-top: -60px;
}

.salir {
  margin-left: 420px;
}
.inicio {
  margin-left: 95px;
}

.grid button {
  display: flex;
  position: absolute;
  margin-top: 75px;
  padding: 15px;
  width: 180px;
  height: 50px;
  font-size: var(--3jr-fontsize-m);
  align-items: center;
  justify-content: center;
  background-color: var(--3jr-botton);
  color: var(--3jr-letterbotton);
  border-radius: var(--3jr-border-radius);
}

@media screen and (max-width: 800px) {
  .inicio {
    margin-left: 75px;
  }
  .salir {
    margin-left: 465px;
  }
  .grid h1 {
    margin-top: var(--3jr-margin-l);
    font-size: var(--3jr-fontsize-m);
    width: 100%;
    justify-content: space-around;
  }
  .grid {
    height: 750px;
    width: 660px;
    align-content: baseline;
  }
  .grid button {
    display: flex;
    margin-top: 80px;
    width: 120px;
    height: 50px;
    font-size: var(--3jr-fontsize-s);
  }
}

@media screen and (max-width: 700px) {
  .inicio {
    margin-left: 90px;
  }
  .salir {
    margin-left: 390px;
  }

  .grid {
    height: 600px;
    width: 600px;
  }

  .grid button {
    margin-top: 90px;
  }
  .grid h1 {
    width: 650px;
  }
}

@media screen and (max-width: 600px) {
  .grid button {
    margin-top: 95px;
  }
  .inicio {
    margin-left: 43px;
  }
  .salir {
    margin-left: 340px;
  }
  .grid h1 {
    width: 400px;
  }
  .grid {
    height: 600px;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .inicio {
    margin-left: 70px;
  }
  .salir {
    margin-left: 290px;
  }

  .grid {
    height: 500px;
    width: 450px;
    justify-content: start;
  }

  .grid button {
    margin-top: 85px;
  }
  .inicio {
    margin-left: 50px;
  }
  .salir {
    margin-left: 270px;
  }
}

@media screen and (max-width: 400px) {
  .salir {
    margin-left: 215px;
  }
  .grid button {
    margin-top: 80px;
    width: 100px;
    height: 40px;
    font-size: var(--3jr-fontsize-xs);
  }
  .grid {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  .grid {
    height: 500px;
    width: 350px;
  }

  .inicio {
    margin-left: 50px;
  }
  .salir {
    margin-left: 220px;
  }
  .grid button {
    width: 100px;
    height: 40px;
  }
  .grid h1 {
    width: 350px;
  }
}
@media screen and (max-width: 300px) {
  .salir {
    margin-left: 180px;
  }
  .grid button {
    width: 90px;
    height: 40px;
    font-size: var(--3jr-fontsize-xs);
  }
}

@media screen and (max-width: 250px) {
  .salir {
    margin-left: 16px;
  }
  .grid button {
    width: 100px;
    height: 40px;
  }
  .grid {
    width: 250px;
    margin-left: -40px;
  }
  .grid h1 {
    width: 350px;
  }
}
