.tablero {
  height: 660px;
  width: 660px;

  border-color: var(--3jr-letterbotton);
  margin: auto;
  margin-top: 250px;
}

.grid {
  margin: auto;
  display: grid;
  height: 950px;
  width: 660px;
  justify-content: space-around;
  align-content: space-between;
}

.grid h1 {
  font-size: var(--3jr-fontsize-l);
  display: flex;
  position: absolute;
  justify-content: center;
  color: var(--3jr-primary);
  width: 600px;
  margin-top: var(--3jr-margin-l);
}

.salir {
  margin-left: 450px;
}

.grid button {
  display: flex;
  position: absolute;
  margin-top: 130px;
  padding: 15px;
  width: 200px;
  height: 60px;
  font-size: var(--3jr-fontsize-m);
  align-items: center;
  justify-content: center;
  background-color: var(--3jr-botton);
  color: var(--3jr-letterbotton);
  border-radius: var(--3jr-border-radius);
}

@media screen and (max-width: 800px) {
  .inicio {
    margin-left: 5%;
  }
  .grid h1 {
    font-size: var(--3jr-fontsize-m);
    width: 100%;
  }
  .salir {
    margin-left: 70%;
  }

  .grid {
    margin-bottom: 10%;
    height: 650px;
    width: 660px;
    align-content: center;
  }
  .grid button {
    display: flex;
    margin-top: 50px;
    width: 120px;
    height: 50px;
    font-size: var(--3jr-fontsize-s);
  }
}

@media screen and (max-width: 568px) {
  .inicio {
    margin-left: 10%;
  }
  .grid h1 {
    font-size: var(--3jr-fontsize-m);
    width: 100%;
    margin-left: 7%;
  }
  .salir {
    margin-left: 70%;
  }

  .grid {
    margin-bottom: 10%;
    height: 650px;
    width: 360px;
    align-content: center;
  }
  .grid button {
    display: flex;
    margin-top: 80px;
    width: 100px;
    height: 50px;
  }
}
@media screen and (max-width: 368px) {
  .inicio {
    margin-left: 5%;
  }

  .salir {
    margin-left: 60%;
  }
}
