.tablero {
  height: 660px;
  width: 660px;
  border-color: var(--3jr-letterbotton);
  margin: auto;
  margin-top: 250px;
}

.grid {
  margin: auto;
  display: grid;
  height: 800px;
  width: 660px;
  align-content: space-evenly;
  justify-items: stretch;
}

.grid h1 {
  font-size: var(--3jr-fontsize-l);
  display: flex;
  position: relative;
  justify-content: center;
  color: var(--3jr-primary);
  width: 660px;
  margin-top: var(--3jr-margin-l);
  margin-left: auto;
}

.salir {
  margin-left: 455px;
}

.grid button {
  display: flex;
  position: absolute;
  margin-top: 130px;
  padding: 15px;
  width: 200px;
  height: 60px;
  font-size: var(--3jr-fontsize-m);
  align-items: center;
  justify-content: center;
  background-color: var(--3jr-botton);
  color: var(--3jr-letterbotton);
  border-radius: var(--3jr-border-radius);
}

@media screen and (max-width: 800px) {
  .inicio {
    margin-left: 85px;
  }
  .salir {
    margin-left: 460px;
  }

  .grid h1 {
    margin-top: var(--3jr-margin-l);

    font-size: var(--3jr-fontsize-m);
    width: 100%;
    justify-content: space-around;
  }

  .grid {
    height: 600px;
    width: 660px;
    align-content: baseline;
  }

  .grid button {
    display: flex;
    margin-top: 80px;
    width: 120px;
    height: 50px;
    font-size: var(--3jr-fontsize-s);
  }
}

@media screen and (max-width: 700px) {
  .inicio {
    margin-left: 100px;
  }
  .salir {
    margin-left: 390px;
  }

  .grid {
    height: 550px;
    width: 600px;
  }

  .grid button {
    margin-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .grid button {
    margin-top: 95px;
  }
}

@media screen and (max-width: 500px) {
  .inicio {
    margin-left: 50px;
  }
  .salir {
    margin-left: 260px;
  }

  .grid {
    height: 400px;
    width: 500px;
  }

  .grid button {
    margin-top: 85px;
  }
}

@media screen and (max-width: 400px) {
  .inicio {
    margin-left: 40px;
  }
  .salir {
    margin-left: 240px;
  }

  .grid button {
    margin-top: 80px;
  }
}
