header {
  display: flex;
  padding: var(--3jr-padding-sx);
  justify-content: space-around;
  align-items: center;
  gap: var(--3jr-gap-xs);
  flex-wrap: wrap;
  height: 20%;
  width: 100%;
  margin-bottom: auto;
}

header button {
  padding: var(--3jr-padding-s) var(--3jr-padding-s);
  border-radius: 10px;
  font-size: var(--3jr-fontsize-l);
  background-color: var(--3jr-botton);
  margin: var(--3jr-margin-m);
  color: var(--3jr-letterbotton);
}
