footer {
  display: flex;
  color: var(--3jr-primary);
  font-size: var(--3jr-fontsize-m);
  letter-spacing: var(--3jr-margin-xs);
  justify-content: center;
  width: 100%;
  margin-top: var(--3jr-margin-l);
}

@media screen and (min-width: 200px) {
  footer {
    font-size: var(--3jr-fontsize-s);
    margin-left: 5%;
  }
}

@media screen and (min-width: 368px) {
  footer {
    justify-content: center;
  }
}

@media screen and (min-width: 568px) {
  footer {
    margin-left: 11%;
  }
}
