footer {
  display: flex;
  color: var(--3jr-primary);
  font-size: var(--3jr-fontsize-m);
  letter-spacing: var(--3jr-margin-xs);
  justify-content: center;
  width: 100%;
  margin-top: -30px;
}
@media screen and (max-width: 1000px) {
  footer {
    margin-top: 5%;
    font-size: var(--3jr-fontsize-s);
  }
}
@media screen and (max-width: 800px) {
  footer {
    margin-top: 10%;
    font-size: var(--3jr-fontsize-s);
  }
}
@media screen and (max-width: 500px) {
  footer {
    margin-top: 40%;
  }
}

@media screen and (max-width: 350px) {
  footer {
    margin: auto;
    margin-top: 30%;
    font-size: var(--3jr-fontsize-xs);
    margin-left: -10px;
  }
}
