.tableroAHC {
  background-color: var(--3jr-terciary);
  height: 450px;
  width: 500px;
  border-radius: 10px;
  border-color: var(--3jr-letterbotton);
}

/* Estilo para los mensajes y las letras */
#message,
#remainingAttempts,
#wrongLetters,
#word {
  position: relative;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
}

form {
  display: flex;
  justify-content: space-around;
}

#guessInput {
  padding: 3px;
  width: 110px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 3%;
  margin-top: 50px;
}

#hangmanCanvas {
  margin-left: 50px;
  width: 150px;
  margin-top: 25px;
}

#wrongLetters {
  position: absolute;
  margin-top: -150px;
  margin-left: 270px;
}
#message {
  position: absolute;
  margin-top: -100px;
  margin-left: 220px;
}
#remainingAttempts {
  visibility: hidden;
}
#word {
  margin-top: 10px;
  font-size: 35px;
  margin-left: -240px;
}

@media screen and (max-width: 800px) {
  .tableroAHC {
    height: 400px;
    width: 500px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 700px) {
  .tableroAHC {
    height: 400px;
    width: 410px;
    margin-left: 120px;
  }
  #word {
    font-size: 25px;
    margin-left: -200px;
  }

  #hangmanCanvas {
    margin-left: 30px;
  }
}
@media screen and (max-width: 600px) {
  .tableroAHC {
    margin-left: 5px;
  }
}
@media screen and (max-width: 500px) {
  .tableroAHC {
    height: 400px;
    width: 350px;
    margin-left: 45px;
  }
  #word {
    font-size: 20px;
    margin-left: -145px;
  }

  #hangmanCanvas {
    margin-left: 25px;
    width: 130px;
  }
  #message,
  #remainingAttempts,
  #wrongLetters,
  #word {
    font-size: 1rem;
    margin-left: 180px;
  }
}
@media screen and (max-width: 400px) {
  .tableroAHC {
    height: 400px;
    width: 290px;
    margin-top: 100px;
    margin-left: 30px;
  }
  #word {
    font-size: 15px;
    margin-left: -115px;
  }

  #hangmanCanvas {
    margin-left: 15px;
  }
  #message,
  #remainingAttempts,
  #wrongLetters,
  #word {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 300px) {
  .tableroAHC {
    width: 210px;
    margin-top: 100px;
  }
  #message,
  #remainingAttempts,
  #wrongLetters,
  #word {
    font-size: 0.65rem;
  }
}
